.login-row {
    min-height: inherit;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    .col-login {
        background: #fafafa;
        padding: 30px;
        z-index: 999;
        border-radius: 10px;
        box-shadow: 1px 0px 4px #dedede;
        .form-login {
            padding-right: 40px;
            padding-top: 30px;
        }
    }
}
