@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800&display=swap");

body {
    min-height: 100vh;
    font-family: "Open Sans", sans-serif;
    #root {
        min-height: inherit;
        .ant-layout {
            min-height: inherit;
            .ant-layout-sider {
                background: #ffffff;
                border-right: 1px solid #f0f0f0;
                .logo {
                    font-weight: 800;
                    display: flex;
                    align-items: center;
                    height: 50px;
                    margin-bottom: 0;
                    padding-left: 24px;
                    color: #5b8c00;
                    border-bottom: 1px solid #f0f0f0;
                    height: 64px;
                }
                .ant-list-item {
                    padding-left: 24px;
                    a {
                        color: #2c3e50;
                        font-weight: 600;
                        &:hover {
                            color: #077ff7;
                        }
                    }
                }
            }
            .ant-layout-header {
                background: #ffffff;
                border-bottom: 1px solid #f0f0f0;
            }
            .ant-layout-footer {
                border-top: 1px solid #f0f0f0;
                background: #ffffff;
                display: flex;
                align-items: center;
                justify-content: flex-end;
                padding: 15px 50px;
                p {
                    padding: 0;
                    margin: 0;
                }
            }
            .ant-layout-content {
                background: #f2f2f2;
                padding: 15px 50px;
            }
        }
    }
}

.login-row {
    min-height: inherit;
    .col-login {
        background: #fafafa;
        padding: 30px;
        z-index: 999;
        border-radius: 10px;
        box-shadow: 1px 0px 4px #dedede;
        .form-login {
            padding-right: 40px;
            padding-top: 30px;
        }
    }
}

.header_dashboar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    a {
        color: #333333;
    }
    .avata_profile {
        width: 100%;
        height: auto;
    }
}
