body {
    min-height: 100vh;
    font-family: "Open Sans", sans-serif;
    #root {
        min-height: inherit;
        .ant-layout {
            min-height: inherit;
            .ant-layout-sider {
                background: #ffffff;
                border-right: 1px solid #f0f0f0;
                box-shadow: 2px 0 6px rgba(0, 21, 41, 0.11);
                .logo {
                    display: flex;
                    align-items: center;
                    margin-bottom: 0;
                    border-bottom: 1px solid #f0f0f0;
                    height: 64px;
                    justify-content: center;
                }
            }
            .ant-layout-header {
                background: #ffffff;
                border-bottom: 1px solid #f0f0f0;
                padding: 0 24px;
                box-shadow: 0 1px 4px rgba(0, 21, 41, 0.08);
            }
            .ant-layout-footer {
                border-top: 1px solid #f0f0f0;
                background: #ffffff;
                display: flex;
                align-items: center;
                justify-content: flex-end;
                padding: 12px 24px;
                p {
                    padding: 0;
                    margin: 0;
                }
            }
            .ant-layout-content {
                padding: 24px 24px;
            }
        }
    }
}

.header_dashboar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    a {
        color: #333333;
    }
    .avata_profile {
        width: 100%;
        height: auto;
    }
}
